
<div id="contact" class="d-flex justify-content-center align-items-center flex-column py-5 mt-5">
    <h1>PORTFOLIO COMPONENT</h1>
    <div class="line d-flex justify-content-center align-items-center">
        <i class="icon fa-solid fa-star fs-4 text-white"></i>
    </div>
    <div class="input-group d-flex justify-content-center align-items-center flex-column py-3">
        <label for="nameInput"></label>
        <input type="text"  id="nameInput" placeholder="UserName" class="py-4">
        <label for="ageInput"></label>
        <input type="number" id="ageInput" placeholder="UserAge" class="py-4">
        <label for="emailInput"></label>
        <input type="email"  id="emailInput" placeholder="UserEmail" class="py-4">
        <label for="passwordInput"></label>
        <input type="password"  id="passwordInput" placeholder="UserPassword" class="py-4">
    </div>
</div>