#home {
    background-color: #1ABC9C;
    min-height: 80vh;
}

#home .image {
    width: 250px;
    height: 250px;
}
 #home .line{
    width: 250px;
    position: relative;
 }

#home .line::before{
    content: '';
    width: 40%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: translateY(-8px);
}

#home .line::after{
    content: '';
    width: 40%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 60%;
    background-color: white;
    transform: translateY(-8px);

}